In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/taxi-fare-prediction/test_fare.csv
/kaggle/input/taxi-fare-prediction/train_fare.csv
/kaggle/input/taxi-fare-prediction/Taxi Fare prediction.ipynb

In [3]:
#Load libraries
import os
import pandas as pd
import numpy as np

In [4]:
import sklearn

sklearn.__version__

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

'1.2.2'

In [5]:
train=pd.read_csv("/kaggle/input/taxi-fare-prediction/train_fare.csv")
test=pd.read_csv("/kaggle/input/taxi-fare-prediction/test_fare.csv")

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958885 entries, 0 to 1958884
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   fare_amount        float64
 1   pickup_longitude   float64
 2   pickup_latitude    float64
 3   dropoff_longitude  float64
 4   dropoff_latitude   float64
 5   passenger_count    int64
 6   year               int64
 7   month              int64
 8   day                int64
 9   dayOfWeek          int64
 10  hour               int64
 11  timeOfDayMid.Day   int64
 12  timeOfDayMorning   int64
 13  timeOfDayNight     int64
dtypes: float64(5), int64(9)
memory usage: 209.2 MB

In [7]:
train.corr()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,dayOfWeek,hour,timeOfDayMid.Day,timeOfDayMorning,timeOfDayNight
fare_amount,1.000000,0.281471,-0.133157,0.263025,-0.124085,0.016534,0.129117,0.028520,0.001073,-0.006563,-0.020932,-0.014217,0.012315,-0.004491
pickup_longitude,0.281471,1.000000,0.150422,0.470029,0.153077,0.000831,0.002246,0.008103,-0.000723,-0.018957,0.015556,0.006223,0.005701,-0.034531
pickup_latitude,-0.133157,0.150422,1.000000,0.173028,0.498004,-0.006219,-0.015522,0.000490,-0.001308,-0.003487,0.021661,0.049947,0.000416,-0.066691
dropoff_longitude,0.263025,0.470029,0.173028,1.000000,0.221912,-0.000537,0.000506,0.004918,0.000694,-0.014093,-0.036041,-0.019474,0.038047,-0.019582
dropoff_latitude,-0.124085,0.153077,0.498004,0.221912,1.000000,-0.004179,-0.008216,-0.000345,-0.001233,-0.009290,0.014567,0.027324,-0.001873,-0.048050
passenger_count,0.016534,0.000831,-0.006219,-0.000537,-0.004179,1.000000,0.005768,0.004673,0.004680,0.010257,0.016834,-0.016917,-0.026750,0.029697
year,0.129117,0.002246,-0.015522,0.000506,-0.008216,0.005768,1.000000,-0.118352,-0.009516,-0.002282,0.001760,0.002320,0.002625,0.003018
month,0.028520,0.008103,0.000490,0.004918,-0.000345,0.004673,-0.118352,1.000000,-0.015665,-0.005537,-0.005255,0.001991,-0.000844,0.002341
day,0.001073,-0.000723,-0.001308,0.000694,-0.001233,0.004680,-0.009516,-0.015665,1.000000,0.007704,0.001787,0.000302,-0.003569,0.003248
dayOfWeek,-0.006563,-0.018957,-0.003487,-0.014093,-0.009290,0.010257,-0.002282,-0.005537,0.007704,1.000000,0.025519,-0.013624,-0.011962,0.037540
hour,-0.020932,0.015556,0.021661,-0.036041,0.014567,0.016834,0.001760,-0.005255,0.001787,0.025519,1.000000,-0.211135,-0.444701,0.376944
timeOfDayMid.Day,-0.014217,0.006223,0.049947,-0.019474,0.027324,-0.016917,0.002320,0.001991,0.000302,-0.013624,-0.211135,1.000000,-0.224312,-0.487564
timeOfDayMorning,0.012315,0.005701,0.000416,0.038047,-0.001873,-0.026750,0.002625,-0.000844,-0.003569,-0.011962,-0.444701,-0.224312,1.000000,-0.353447
timeOfDayNight,-0.004491,-0.034531,-0.066691,-0.019582,-0.048050,0.029697,0.003018,0.002341,0.003248,0.037540,0.376944,-0.487564,-0.353447,1.000000

In [8]:
train=train.drop(['timeOfDayMorning','timeOfDayMid.Day','hour','dayOfWeek','day','month','year'],axis=1)

In [9]:
test=test.drop(['timeOfDayMorning','timeOfDayMid.Day','hour','dayOfWeek','day','month','year'],axis=1)

In [10]:
train.isnull().sum()

fare_amount          0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
timeOfDayNight       0
dtype: int64

In [11]:
x=train.drop('fare_amount',axis=1)
x

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,timeOfDayNight
0,-73.844311,40.721319,-73.841610,40.712278,1,0
1,-74.016048,40.711303,-73.979268,40.782004,1,0
2,-73.982738,40.761270,-73.991242,40.750562,2,1
3,-73.987130,40.733143,-73.991567,40.758092,1,0
4,-73.968095,40.768008,-73.956655,40.783762,1,0
...,...,...,...,...,...,...
1958880,-73.950787,40.770836,-73.951043,40.774543,1,0
1958881,-73.983035,40.748276,-73.974725,40.741978,1,0
1958882,-74.003482,40.743577,-73.976758,40.765265,1,1
1958883,-73.971819,40.797243,-73.985921,40.752459,3,0
1958884,-73.955140,40.779382,-73.914775,40.820602,2,0

In [12]:
y=train[['fare_amount']]*83.23
y

         fare_amount
0            374.535
1           1406.587
2            474.411
3            640.871
4            441.119
...              ...
1958880      332.920
1958881      582.610
1958882      873.915
1958883      907.207
1958884     1073.667

[1958885 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test=tts(x,y,test_size=0.25)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
estimator = RandomForestRegressor()
param_grid = { 
            "n_estimators"      : [10,20,30],
            "max_features"      : ["auto", "sqrt", "log2"],
            "min_samples_split" : [2,4,8],
            "bootstrap": [True, False],
}

grid = GridSearchCV(estimator, param_grid, n_jobs=-1, cv=5)

grid.fit(x_train,y_train)

In [ ]:
y_pred=grid.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
dtm = DecisionTreeRegressor(max_depth=4,
                           min_samples_split=5,
                           max_leaf_nodes=10)
param_grid = {"criterion": ["squared_error"],
              "min_samples_split": [10, 20, 40],
              "max_depth": [2, 6, 8],
              "min_samples_leaf": [20, 40, 100],
              "max_leaf_nodes": [5, 20, 100],
              }

## Comment in order to publish in kaggle.

grid_cv_dtm = GridSearchCV(dtm, param_grid, cv=5)

grid_cv_dtm.fit(x_train,y_train)

In [ ]:
y_pred=grid_cv_dtm.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

In [ ]:
import joblib
joblib.dump(grid_cv_dtm,'model3.pkl')

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
parameters = {"alpha": [1, 10, 100, 290, 500],
              "fit_intercept": [True, False],
              "max_iter": [100, 200, 300] 
             }
grid1 = GridSearchCV(estimator=reg, param_grid = parameters, cv = 2, n_jobs=-1)
grid1.fit(x_train, y_train)

In [ ]:
y_pred=grid1.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

In [ ]:
import joblib
joblib.dump(grid1,'model4.pkl')